// font variable
$fonts-path: "../font";
$font-family: 'vazir';
$font-weight: 700;
$font-size: 16px;
$font-style: "normal";
$default-font-size: 16px;
$nav-link: rgb(46, 46, 46);
$nav-link-hover: rgb(54, 114, 228);
$social-icons-color: #545858;
$social-icons-color-hover: #3f3d3d;